/* half moon*/
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0 0 blue;
}

/*Heart*/
.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart::after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
  transform: linear;
}
.heart::before {
  content: "";
  background: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}
/* @keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
} */

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

/* div {
  
} */
/*Animation*/
#rect {
  height: 40px;
  width: 70%;
  background: rgb(73, 224, 36);
  margin: 50px auto;
  border-radius: 5px;
  animation-name: rainbow;
  animation-duration: 4s;
  width: 25%;
}

@keyframes rainbow {
  0% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: yellow;
  }
}
/*Create Visual Direction by Fading an Element from Left to Right*/

#ball {
  width: 70px;
  height: 70px;
  margin: 50px auto;
  position: fixed;
  top: 70%;
  left: 0%;
  background-color: #fdb9fc;
  border-radius: 50%;
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  50% {
    left: 100%;
    opacity: 0.1;
  }
}
/*Animate Elements Continually Using an Infinite Animation Count*/

#ball2 {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: absolute;
  top: 70%;
  left: 0%;
  border-radius: 50%;
  background: linear-gradient(35deg, #ff0075, #fdb9fc);
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}

/*stars*/

.stars {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  margin-top: 15%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  margin-top: 25%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

#back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}
